/* Estilos para el formulario de creación de cuenta */

body {
    font-family: Arial, sans-serif; /* Tipo de fuente */
    background-color: #f4f4f4; /* Color de fondo */
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center; /* Centrar horizontalmente */
    align-items: center; /* Centrar verticalmente */
    height: 100vh; /* Altura completa de la ventana */
}

form {
    width: 100%; /* Ancho completo */
    max-width: 400px; /* Ancho máximo del formulario */
    background: #fff; /* Color de fondo */
    padding: 30px; /* Espaciado interno */
    border-radius: 10px; /* Bordes redondeados */
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1); /* Sombra */
}

form label {
    display: block; /* Mostrar etiquetas en bloque */
    margin-bottom: 10px; /* Espaciado inferior */
    color: #333; /* Color del texto */
}

form input[type="password"] {
    width: 100%; /* Ancho completo */
    padding: 10px; /* Espaciado interno */
    margin-bottom: 20px; /* Espaciado inferior */
    border: 1px solid #ccc; /* Borde */
    border-radius: 5px; /* Bordes redondeados */
}

form button {
    width: 100%; /* Ancho completo */
    padding: 10px; /* Espaciado interno */
    background: #007bff; /* Color de fondo */
    color: #fff; /* Color del texto */
    border: none; /* Sin borde */
    border-radius: 5px; /* Bordes redondeados */
    cursor: pointer; /* Cursor apuntador */
}

form button:hover {
    background: #0056b3; /* Color de fondo al pasar el ratón */
}







/* Estilos para el menú desplegable */
.ventajas {
    position: relative;
    display: inline-block;
}

.ventajas-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
}

.ventajas-content p {
    margin: 0;
}

.ventajas:hover .ventajas-content {
    display: block;
}


/* Estilos para el botón "Ventajas" */
.ventajas-btn {
    background-color: rgba(207, 245, 176, 0.719); /* Cambia el color de fondo del botón a rojo */
    color: rgb(19, 18, 18); /* Cambia el color del texto del botón a blanco */
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

.ventajas-btn:hover {
    background-color: rgba(161, 238, 98, 0.719); /* Cambia el color de fondo del botón a rojo oscuro al pasar el cursor */
}


.ventajas-btn {
    pointer-events: none; /* Deshabilita la funcionalidad de clic */
}